*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h5{
    color: rgb(30, 27, 27);

    margin:1rem;
}
h4{
    color: rgba(146, 4, 4, 0.84);
    margin: 1rem;
}
label{

    margin: 2rem;
    font-size: 1rem;
}
input{
    width: 100%;
    line-height: 2rem;
    resize: none;
    margin-bottom: 2rem;
}

.container{
    width: 80%;
    margin: 0 auto;
}
form{
    margin-top: 5rem;
}